@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --eye-care: #e6dfaf;
}

body {
  background-color: var(--black);
  color: var(--white);
}

/* header start */
header {
  width: 100%;
  background-image: url("/assets/images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 644px;
  position: relative;
}

header .dark-box {
  background: #000;
  height: 644px;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0.69;
}

/* main nav start */
header nav {
  max-width: 60vw;
  margin: auto;
  top: 0;
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

nav .right {
  display: flex;
  align-items: center;
  gap: 7px;
}

.ham-menu {
  background: rgba(150, 150, 150, 0.7);
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 2px;
  display: none;
}

.btn {
  border-radius: 4px;
  font-weight: 400;
  border: 1px solid #f5f5f5;
}

nav .right .btn-lang {
  padding: 3px 8px;
  background-color: rgba(23, 23, 23, 0.7);
  color: #fff;
}

nav .right .btn-red-sm {
  padding: 3px 8px;
  background: red;
  color: #fff;
}

/* main nav end */

/* side-nav start */

.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.906);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.103);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  gap: 19px;
  align-items: center;
}

.side-nav :nth-child(1) img {
  background: rgba(150, 150, 150, 0.7);
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 2px;
}

.side-nav,
.side-nav .right {
  flex-direction: column;
  gap: 19px;
}

/* side-nav end */

header .hero {
  height: 90%;
  font-family: "Martel Sans", sans-serif;
  position: relative;
  z-index: 10;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  padding: 0 30px;
}

.hero > :first-child {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.hero-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.hero-btns input {
  padding: 7px 101px 8px 14px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.hero-btns .btn-red {
  background: red;
  color: #fff;
  padding: 3px 24px;
  font-size: 20px;
}

/* header end */

.separation {
  background: #292929;
  height: 7px;
}

/* section start */

.first {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
}

.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}
.first > div :first-child {
  font-size: 48px;
  font-weight: bolder;
}

.first > div :nth-child(2) {
  font-size: 24px;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  right: 0;
  width: 100%;
}

.third .secImg video {
  bottom: 18%;
}

/* section end */

/* faq start */

.faq {
  padding: 34px;
  color: #fff;
}

.faq h2 {
  font-size: 48px;
  text-align: center;
}

.faq-box:hover {
  background-color: #414141;
}

.faq-box {
  transition: all 0.8s ease-in-out;
  max-width: 60vw;
  margin: 34px auto;
  display: flex;
  justify-content: space-between;
  background: #2d2d2d;
  align-items: center;
  padding: 24px;
  cursor: pointer;
  font-size: 24px;
}

/* section end */

/* footer start */

footer {
  max-width: 60vw;
  margin: auto;
  color: #fff;
  padding: 60px;
}

footer > p {
  font-size: 16px;
  padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer-item a {
  color: #fff;
  font-size: 14px;
}
/* footer end */

@media screen and (max-width: 1300px) {
  header nav {
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
    text-align: center;
  }

  .secImg Img {
    width: 305px;
  }

  footer > p {
    justify-self: center;
    text-align: center;
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .footer-item {
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 797px) {
  .hero > :nth-child(1) {
    font-size: 42px;
  }

  .hero > :nth-child(2) {
    font-size: 20px;
  }

  .hero > :nth-child(3) {
    font-size: 18px;
  }
}

@media screen and (max-width: 484px) {
  .hero > :nth-child(1) {
    font-size: 32px;
  }

  .hero > :nth-child(2) {
    font-size: 18px;
  }

  .hero > :nth-child(3) {
    font-size: 16px;
  }

  .side-nav {
    width: 100%;
  }

  .hideOnMobile {
    display: none;
  }

  .ham-menu {
    display: block;
  }
}
